<app-top-nav id="header"></app-top-nav>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center ">
  <div class="container">
    <h1>Welcome to Mounir App</h1>
    <h2>This is my first app with .Net And Angular hope that you like it !</h2>
    <a  class="btn-get-started scrollto">Get Started</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose Andex?</h3>
            <p>
              Andex est une entreprise qui grandit, qui se développe et qui est toujours à la recherche de nouveaux talents. Diplômée d'un master en Management des ressources Humaines, mon rôle en tant que chargée de recrutement IT consiste à définir la politique de recrutement de nouveaux profils pour l'entreprise selon ses besoins et de gérer l'intégralité du processus de recrutement, de l'évaluation des candidats à l'intégration des nouveaux recrutés. Au sein de notre équipe, j'ai trouvé exactement ce que je voulais : la bienveillance, la motivation et le sentiment d'appartenance.
            </p>
            <div class="text-center">
              <a  class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>DÉVELOPPEMENT WEB & MOBILE</h4>
                  <p>Spécialisation dans le développement web .NET et Power Platform (Power Apps et Power Automate) sur Microsoft Azure. Maitrise de la suite BI de Microsoft (Power BI, SSRS, SSIS et SSAS).</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>DYNAMICS 365 BUSINESS CENTRAL</h4>
                  <p>L’ERP Dynamics 365 Business Central est une solution complète pour gérer les activités des PME de tous secteurs d’activités.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>DYNAMICS 365 CUSTOMER ENGAGEMENT</h4>
                  <p>Augmentez la productivité des ventes et améliorez l’efficacité de vos actions marketing grâce à la solution CRM de Microsoft Dynamics 365.VOIR LES DETAILS</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->


  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3>Langage binaire ? </h3>
          <p>Non, juste quelques chiffres sur nous.</p>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">D'expérience</a></h4>
            <p class="description">15ans</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Digital</a></h4>
            <p class="description">100%</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Collaborateurs</a></h4>
            <p class="description">70</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->


</main><!-- End #main -->




