<meta name="viewport" content="width=device-width,initial-scale=1.0">
<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Reset Your Password Here !</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="resetPasswordForm">

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="password" type="password" placeholder="New Password">
                </div>
              </div>
              <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')" class="text-danger ml-1">
                *New Password is required</small>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                  <!--<span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>-->
                </div>
              </div>
              <small *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')" class="text-danger ml-1">
                *Confirme Password is required</small>
                <small *ngIf="resetPasswordForm.hasError('confirmPasswordValidators','confirmPassword')"
                class="text-danger ml-1">
                  *Password doesn't match</small>

              <button (click)="reset()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Reset</button>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
