<app-top-nav></app-top-nav>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<div class="main-banner1 wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">

  <div class="container show-up">
    <h2 class="h2">List of Users</h2>
  </div>

  <div class="container show-up">
    <div class="row end-xs">
      <div class="col-xs-12">
        <input type="text" class="search-input" placeholder="Search users"
          [(ngModel)]="filterString"
          (keyup)="filterStudents()"
        >
        <a  mat-raised-button *ngIf="role === 'Admin'" class="btn-add" >Add New User</a>
      </div>
    </div>
  </div>

  <div class="container show-up">
    <div class="mt-1 mat-elevation-z8">
      <table mat-table matSort [dataSource]="dataSource" class="tab">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- first Name Column -->
          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> FirstName. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
          </ng-container>

          <!-- last Name Column -->
          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> LastName. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
          </ng-container>

          <!-- Date of birth Column -->
          <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> UserName. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Email. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>

          <!-- Mobile Column -->
          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Role. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.role.roleName}} </mat-cell>
          </ng-container>

           <!-- Genfer Column -->
           <ng-container matColumnDef="privileges">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Privileges. </mat-header-cell>
            <mat-cell *matCellDef="let element"> not done yet </mat-cell>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a href="#">
                <mat-icon color="color_blue">edit</mat-icon>

              </a>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
      <mat-paginator [length]="100"
                [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select Page">
      </mat-paginator>
      </div>
  </div>


